<p id="notice"><%= notice %></p>
<%= image_tag "lib4.jpg", width:1000 , height: 400; %>
<h2>Showing student</h2>
<body style="background-color:yellow;">
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
