<p id="notice"><%= notice %></p>
<%= image_tag "lib7.jfif", width:1000 , height: 400; %>
<h2>Showing Books</h2>
<body style="background-color:yellowgreen;">
<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
